<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Freelancer - Start Bootstrap Theme</title>

  <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
 <!-- <link href="css/bootstrap.min.css" rel="stylesheet">-->

  <!-- Custom CSS -->
  <link href="css/freelancer.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#page-top">Disha Koul</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
          <a href="#portfolio">Experience</a>
        </li>
        <li class="page-scroll">
          <a href="#about">About</a>
        </li>
        <li class="page-scroll">
          <a href="#hobbies">Hobbies</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="assets/disha4.jpg" alt="">
        <div class="intro-text">
          <span class="name">Disha Koul</span>
          <hr class="star-light">
          <span class="skills">Software Engineer - Aspiring Web Developer</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Experience</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="assets/ps_dim.png" class="img-responsive" alt="">
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="assets/ng_dim.png" class="img-responsive" alt="">
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="assets/wepay_dim.png" class="img-responsive" alt="">
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="assets/ill_dim.png" class="img-responsive" alt="">
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="assets/ag_dim.jpg" class="img-responsive" alt="">
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="assets/kumon_dim.jpg" class="img-responsive" alt="">
        </a>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="col">
      <!--<div class="col-lg-4 col-lg-offset-2">-->
      <div>
        <p> I'm a student finishing up my bachelor's degree at the University of Illinois at Urbana-Champaign. I'll be graduating in May of 2016 and will be headed to Amazon (Seattle, WA) to work full-time in the Fall of 2016. </p>
      </div>
    </div>
  </div>
</section>

<section id="hobbies">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Hobbies</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="col">
      <!--<div class="col-lg-4 col-lg-offset-2">-->
      <div>
        <h4 style = "color:#d8887f;">Activities</h4>
        <p> I love spending time with my family and friends! If the weather is nice, I'll be outside playing tennis or biking. Otherwise, I'll probably be on the couch surfing the net or watching some funny Youtube videos, all while eating potato chips. Or chocolate. Or both. Moreover, I love social media! And shopping. </p>
      </div>
      <br>
      <div>
        <h4 style = "color:#d8887f;">Travel</h4>
        <p>Although I'm from the Chicago suburbs, I've spent the last few years exploring the East Coast (with my family) during my school breaks. I've spent about two years in New York (NYC and Albany) and now two more years in Massachusetts (Boston). </p>
      </div>
      <br>
      <div>
        <h4 style = "color:#d8887f;">Causes</h4>
        <p>I'm originally from Kashmir (northern region of India). I spent most of my younger years being active in the Chicago KOA (Kashmiri Overseas Association) by participating in volunteering events/ festivals. Nowadays, I do my part of keeping our culture alive by following native Kashmiri traditions. </p>
      </div>
      <br>
    </div>
  </div>
</section>

<!-- Portfolio Modals -->

<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Part-time Analyst (Ongoing)</h2>
            <hr class="star-primary">
            <img src="assets/ps_dim.png" class="img-responsive img-centered" alt="">
            <p>Location: Lombard, IL</p>
            <p>Position: Analyst</p>
            <p>Description: I'm involved with a variety of different aspects in the company including quality assurance, technical design documentation and reporting procedures for several financial and government clients. </p>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Summer 2014 Internship</h2>
            <hr class="star-primary">
            <img src="assets/ng_dim.png" class="img-responsive img-centered" alt="">
            <p>Location: Rolling Meadows, IL</p>
            <p>Position: Software Engineering Intern</p>
            <p>Description: I worked on a desktop application to replace one of the outdated existing real-time data analytics tools. I used C# on Microsoft Visual Studio 2013.</p>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Summer 2015 Internship</h2>
            <hr class="star-primary">
            <img src="assets/wepay_dim.png" class="img-responsive img-centered" alt="">
            <p>Location: Redwood City, CA</p>
            <p>Position: Software Engineering Intern</p>
            <p>Description: I worked on writing an API for the mobile version of WePay's demo crowdfunding site. I also integrated several of WePay's product features into the application. I primarily worked in Ruby on Rails.</p>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Undergraduate Student 2012 - 2016 (expected)</h2>
            <hr class="star-primary">
            <img src="assets/ill_dim.png" class="img-responsive img-centered" alt="">
            <p>Description: I'm currently attending the University of Illinois at Urbana-Champaign. I'm pursuing a major in Computer Science (College of Engineering) and a minor in Statistics. </p>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Fall 2015 - Spring 2016 Internship (Ongoing)</h2>
            <hr class="star-primary">
            <img src="assets/ag_dim.jpg" class="img-responsive img-centered" alt="">
            <p>Location: Champaign, IL</p>
            <p>Position: Front-end Development Intern</p>
            <p>Description: I'm working on programming projects for the Morning Farm Report Website. I'm primarily using Python on the Django Web Framework. </p>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Fall 2011- Summer 2012 Tutor</h2>
            <hr class="star-primary">
            <img src="assets/kumon_dim.jpg" class="img-responsive img-centered" alt="">
            <p>Location: Glen Ellyn, IL</p>
            <p>Position: Mathematics & Reading Tutor</p>
            <p>Description: I tutored students (ranging from 6th grade to 12th grade) in the Kumon Math & Reading Curriculum.  </p>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-12">
          <h3>Around the Web</h3>
          <ul class="list-inline">
            <li>
              <a href="https://www.facebook.com/disha.koul" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/kouldisha" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/dishakoul" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Disha Koul 2015
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>


<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/cbpAnimatedHeader.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/freelancer.js"></script>

</body>

</html>
